{% extends "layout.html" %} 
{% block body %}

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin.js')}}"></script>
<br>
<table id="adminitems" class="tablesorter">
    <thead>
        <tr>
            <th>X</th>
            <th>pic</th>
            <th>std price</th>

            <th>sku</th>
            <th>name</th>
            <th>category</th>
            <th>num searches</th>
        </tr>
    </thead>
    <tbody>
        {%for item in items%}
        <tr>
            <td><button onclick="confirmDelete()">Delete</button>
                <button class="confirm" id="{{item.sku}}.del" onclick="adminDelete({{item.sku}})">Confirm</button></td>
            <td><img src="{{item.thumbnailImage}}" /></td>
            <td><a href="#" class="salePriceAdmin" data-type="text" data-pk="{{item.sku}}" data-url="/adminedit" id="salePrice">{{item.salePrice}}</a></td>
            <td><a href="/item?sku={{item.sku}}">{{item.sku}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.categoryPath}}</td>
            <td>{{item.numsearches}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>


{% endblock %}