{% extends "layout.html" %} 
{% block body %}

<h2>How to Use</h2>
<ol>
    <li>On the home screen, enter your zip code and press "Update Stores" to populate your list of stores to search.</li>
    <li>Paste a list of SKUs, Walmart.com links, or Brickseek links in the text area under "Items to Search" and press "Update Items".</li>
    <li>Once your lists of items and stores are populated, press the orange button at the top of the home page to search for all item at all stores.</li>
    <li>View the color coded results page.  Click the   <i class="material-icons">remove_red_eye</i> icon to hide items or the <i class="material-icons">list</i> icon to add the item to your shopping list.</li>
</ol>

<br>



{% endblock %}