{% extends "layout.html" %}
{% block body %}

<img src="{{inv[0].thumbnailImage}}"/><br>
<h4>{{inv[0].name}}</h4>
sku: {{inv[0].sku}} | UPC: <a href="http://barcode.live/?upc={{inv[0].upc}}" id="upc">{{inv[0].upc}}</a> <br>
MSRP: {{inv[0].MSRP}} | Sale Price: {{inv[0].salePrice}}<br>
Note: Only in stock inventory in your stores is shown. <br>
<a href="/item?sku={{inv[0].sku}}&everything=True">Click here to show all inventory!</a>
<form id="updateMyStores" action="/search?sku={{inv[0].sku}}" method="post">
<center><button class="waves-effect waves-light  amber darken-2 btn" type="submit" onclick="loadStores();">Update Stock in All My Stores!</button></center><br>
</form>
<div class="progress">
    <div class="indeterminate"></div>
</div>
<div class="content">
<table id ="iteminv" class="tablesorter">
 <thead><tr><th>update</th><th>store</th><th>city</th><th>state</th><th>address</th><th>stock</th><th>price</th><th>updated</th></tr></thead>
<tbody>
    {% for item in inv %}
        <tr><td><button class="waves-effect waves-light amber darken-2 btn-small" onclick="updateInv()">UPDATE</button></td><td><a href="/store?store={{item.store}}">{{item.store}}</a></td><td>{{item.city}}</td><td>{{item.state}}</td><td>{{item.street}}</td><td>{{item.qty}}</td><td>${{item.price}}</td><td>{{item.datetime}}</td></tr>
    {%endfor%}
</tbody>
</table>
</div>




{% endblock %}