<!doctype html>
<title>WALL E WORLD</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js')}}"></script>


    <div class=page>
        <nav>
            <div class="nav-wrapper">
                {% if session.username %}
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/browseitems">Browse Items</a></li>
                    <li><a href="/browsestores">Browse Stores</a></li>
                    <li><a href="/deals">Deals</a></li>
                    <li><a href="/pricedrops">Drops</a></li>
                    <li><a href="/shoppinglist">Shopping List</a></li>
                    <li><a href="#modal1" class="modal-trigger"> <i class="material-icons">help</i></a></li>

                </ul>
                {% endif %}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li> {% if session.username %} Logged in as: {{session.username}} {% endif %}
                    </li>
                    <li><a href="{{url_for('login')}}">      {% if not session.username %}Login <li><a href="{{url_for('register')}}">Register</a></li>
                    {%else%}Logout{%endif%}</a>
                    </li>
                    {% if session.level == 2 %}
                    <li><a href="{{url_for('admin')}}">Admin</a></li>
                    <li><a href="{{url_for('reports')}}">Reports</a></li>
                    {%endif%}

                </ul>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
        <div class="container">
            <center>
                <a href="/">
                    <h1 class="w">WALLE</h1>
                    <h1>*</h1>
                    <h1 class="m">WORLD</h1>
                </a>
            </center>
                    
                       <div id="modal1" class="modal">
    <div class="modal-content">
        <h2>How to Use</h2>
        <ol>
            <li>On the home screen, enter your zip code and press "Update Stores" to populate your list of stores to search.</li>
            <li>Paste a list of SKUs, Walmart.com links, or Brickseek links in the text area under "Items to Search" and press "Update Items".</li>
            <li>Once your lists of items and stores are populated, press the orange button at the top of the home page to search for all item at all stores.</li>
            <li>View the color coded results page. Click the <i class="material-icons">remove_red_eye</i> icon to hide items or the <i class="material-icons">list</i> icon to add the item to your shopping list.</li>
        </ol>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Got it!</a>
    </div>
</div>


<br> {% block body %} {% endblock %}


        </div>
    </div>
</body>
